.chat_main
  .chat_main__group_info
    .info_block
      .info_block__name
        グループ名
      .info_block__member
        Member：名前
    = link_to "#", class:"edit_btn" do
      Edit
  .chat_main__message_list
  .chat_main__message_form