.message_block
  .message_block__info
    .message_block__info__name
      = message.user.name
    .message_block__info__datetime
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message_block__message
    - if message.body.present?
      %p.message_block__message__body
        = message.body
    = image_tag message.image, class:"message_block__image" if message.image.present?